			body{
				background-color: purple;
				margin:0;
				font-family: Georgia;
			}
			h2{
				color: #FFE633;
				text-align: center;
				font-size:25px;
			}
			hr{color: #FFE633;}
			p{
				color: #FFE633;
				text-align: center;
			}
			*{box-sizing: border-box;}
			.header{
				color: #FFE633;
				background-image: url("header.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				padding: 35px;
				padding-bottom: 50px;
				text-align: center;
			}
			.header p{
				color: #FFE633;
				margin: 20px;
				font-size: 20px;
			}
			.header h1{
				font-size: 40px;
				text-align: center;
			}
			.navbar{
				background-color: #660066;
				overflow: hidden;
				width: 100%;
			}
				
			.navbar a{
				float: left;
				display: block;
				color: #FFE633;
				text-align: center;
				font-size: 20px;
				text-decoration: none;
				padding: 14px 16px;
				}
			.navbar a:hover:not(.active){background-color: #4A235A;}
			.active{background-color: #4d004d;}
			.row{padding: 20px;}
			.row:after{
				content: "";
				display: table;
				clear: both;
			}
			.footer{
				padding: 1px;
				text-align: center;
				font-style: italic;
				font-size: 10px;
				margin-top: 30px;
				background-color: #660066;
			}	
					
			table,th,td{
				border: 2px solid #FFE633;
				color: white;
				text-align: center;
				height: 40px;
			}
			table{width: 100%;}
			#iallogo{
				width: 10%;	
				display: block;
				float: left;
			}
			.logo{
				padding: 10px;
				text-align: center;
			}
			#mylogo{float: right;}
			a{color: #FFE633;}
			.footer h2{
				font-size: 15px;
				font-family: Arial;
			}
